# root
.settings
Debug
Drivers
.cproject
.mxproject
.project
STM32F446RETX_FLASH.ld
STM32F446RETX_RAM.ld

# Core
stm32f4xx_hal_msp.c
stm32f4xx_it.c
syscalls.c
sysmem.c
system_stm32f4xx.c
main.h
stm32f4xx_hal_conf.h
stm32f4xx_it.h
Startup